/*lage screens*/
@media all and (max-width: 1024px) {
	.footer-link-section{
	  height:400px	
      
	}
}

/* For Tablets */
@media all and (max-width: 1000px) {

  .parent-company{
		display: none;
	}
	.top-header a{
		font-size:15px;
  }
  
  header-bottom-section{
    height: 30px;
  }
  
  

	.menu-icon {
    display:inline-block;
    position:relative;
  }
  
  
	nav ul, nav:active ul { 

		display: none;
		position: relative;
		background: #212121;
		border: 5px solid #444;
		top: -60px;
		width: 100%;
		border-radius: 4px 0 4px 4px;

  }
  nav {

    float: right;
    padding: 15px 70px;	
    
  }

  .works {
    width: 50%;
    padding: 0px;
    position:relative;
  }

  .cards{
    width: 50%;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;

}
 /*footer links*/
footer{
  background-color: #1f262e;
  height: 1200px;
}
 .footer-link-section h3{
  font-size: 20px;
  }

.footer-link-section{
  width:auto;
  float: left;
  margin: 0px;
  width: 50%;
}
.residents-navi-container li{
  text-align: left;
  position: relative;

 }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  header {

    position: fixed;
    height:50px ;

  }

  .parent-company{
		display: none;
	}
	.top-header a{
		font-size:15px;
  }
  
  header-bottom-section{
    height: 30px;
  }
  

  

	.menu-icon {
    display:inline-block;
    position:relative;
  }
  
  .menu-icon:active{
position: fixed;  }

	nav ul, nav:active ul { 

		display: none;
		position: relative;
		background: #212121;
		border: 5px solid #444;
		top: -40px;
		width: 100%;
		border-radius: 4px 0 4px 4px;

  }
  nav {

    float: right;
    padding: 15px 70px;	
    
  }
  

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

    display: block;
    top: -80px

  }
  

  .main-content{
    top:280px;
  }

  .works {
    width: 100%;
    margin-bottom:2px; 
    padding: 0px;
  }
  
  .work-title{
    height:auto;
    font-size: 15px;

  }

  .header-title h3{
  font-size: auto;
  height:auto;
  margin: 5px;
  padding: 0px
  }
  
  /* Add CSS for menu-icon */
  .header-bottom-section a:not(:first-child){display: none;}
  .header-bottom-section a.menu-icon{
    float: right;
    display: block;
  }
.header-bottom-section.responsive {position: relative; } 
.header-bottom-section.responsive a.menu-icon{
  position: absolute;
  right: 0; 
  top:0;
}

.header-bottom-section.responsive a{
  float: none;
  display: block;
  text-align: left;
}

.image-background-module{
  background:url(../images/mobile.png) no-repeat;
	width: 100%;
	height:100%;
}  


/* .image-background-module{} */

.cards{
  width:100%;
}

/* work buttons */
.works a{
  padding: 10px 15px;
  background-color: red;
  width:100%;
 }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  /*footer links*/
  footer {
    top: 250px;
  }  

  footer .footer-link-section .residents-navi-container ul li{
    text-align: center;
  }

  .footer-link-section h3{
    font-size: 20px;
    }
  
  .footer-link-section{
    width:100%;
    margin: 0px;
    text-align: center;
    margin: 0px;
    height:250px;

  }
 
  
  /* .footer-container{
    width: 100%;
    margin: 0px;


  }

  .footer-container img{
   float:left;
   width: 40px;
   bottom:3px;
  } */

  .bottom-footer .copyright{
		font-size: 9px;
		margin: 0;
		padding: 0;
    text-align: center;
    bottom:5px;

}
}


/* For Smartphones with max-width below 350px */
@media all and (max-width: 400px) {
  .footer-link-section{
    width:100%;
    float: none;
    margin: 0px;
  }
}